.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

a {
  color: white;
  text-decoration: none;
}

div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

mat-toolbar {
  height: 50px;
}